<template>
  <div>
    <div class="login-social" v-loading="loading">
      <el-button @click="loginWithGoogle"> Google <img src="../../../assets/google-ic.svg" alt="" /> </el-button>
      <el-button @click="loginWithFacebook"> Facebook <img src="../../../assets/facebook.svg" alt="" /> </el-button>
    </div>
    <el-divider>{{ 'DividerText' | locale }}</el-divider>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import locale from '@/filters/localize.filter';
export default {
  name: 'LoginWithSocial',
  computed: {
    ...mapGetters('auth', ['error', 'loading']),
    ...mapGetters(['locale'])
  },
  methods: {
    async loginWithGoogle() {
      try {
        await this.$store.dispatch('auth/loginWithGoogle', this.locale);
      } catch (error) {
        this.$notify.error({
          title: locale('ErrorTitle'),
          message: `${this.error}`
        });
        throw error;
      }
    },
    async loginWithFacebook() {
      try {
        await this.$store.dispatch('auth/loginWithFacebook', this.locale);
      } catch (error) {
        this.$notify.error({
          title: locale('ErrorTitle'),
          message: `${this.error}`
        });
        throw error;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.el-divider__text {
  background: lighten($gray, 5%);
}
.login-social {
  display: flex;
  .el-button {
    position: relative;
    width: 50%;
    img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      margin-bottom: -5px;
    }
  }
}
</style>
