<template>
  <div
    class="messages"
    v-if="!loading && messages.length && currentChat.indexOf(currentUser)"
    v-chat-scroll="{ always: false, smooth: true, scrollonremoved: true }"
  >
    <Message :currentChat="currentChat" v-for="message in messages" :key="message.id" :message="message" />
  </div>
  <div class="messages messages--empty" v-else>
    {{ 'NoFoundMessages' | locale }}
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Message from './Message';
export default {
  name: 'messages',
  computed: {
    ...mapGetters('chats', ['messages', 'currentChat', 'loading']),
    ...mapGetters('auth', ['currentUser'])
  },
  watch: {
    currentChat: async function() {
      if (this.currentChat) {
        await this.$store.dispatch('chats/listenMessages', this.currentChat);
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('chats/listenMessages', this.currentChat);
  },
  components: {
    Message
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.messages {
  margin: $gutter;
  height: calc(100% - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: $scroll-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: $braikpoint) {
    margin: 0;
    padding: $gutter;
  }
  &--empty {
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }

  &::-webkit-scrollbar {
    width: $scroll-width;
    @media (max-width: $braikpoint) {
      display: none;
    }
  }

  &::-webkit-scrollbar-track {
    background: $white;
    border-radius: $scroll-width;
    @media (max-width: $braikpoint) {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: $scroll-width;
    @media (max-width: $braikpoint) {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darken($primary, 10%);
  }
}
</style>
