<template>
  <div
    class="message"
    :class="{
      active: currentUser && message.sender && message.sender.uid === currentUser.uid,
      video: isYoutubeVideo || isVideo || isVimeoVideo,
      geolocation: message.messageType === 'geolocation'
    }"
  >
    <div class="message__avatar" v-if="message.sender">
      <el-image
        v-if="message.sender.avatar"
        style="width: 25px; height: 25px; border-radius: 100%;"
        :src="message.sender.avatar"
        :preview-src-list="[message.sender.avatar]"
      />
      <el-avatar v-else>
        {{ message.sender.name.split(' ').join('')[0] }}
      </el-avatar>
    </div>
    <div class="message__content">
      <el-tooltip :content="messageDate | moment('dddd, DD.MM.YY, hh:mm a')" placement="top-start" effect="dark">
        <span class="message__date" v-if="message.timestamp">
          {{ messageDate | moment('from', 'now') }}
        </span>
      </el-tooltip>

      <!-- text message -->
      <span
        class="message__text"
        :class="{ edited: message.edited }"
        v-if="message.messageType === 'text' && !message.isVideo"
        v-linkified
      >
        {{ message.message }}
        <span class="edited__mark" v-if="message.edited">
          {{ 'Edited' | locale }}
        </span>
      </span>

      <!-- youtube video -->
      <vue-plyr
        v-else-if="message.messageType === 'text' && isYoutubeVideo && message.isVideo"
        :options="videoPlayerOptions"
      >
        <div class="plyr__video-embed" style="width: 100%; margin-top: 5px">
          <iframe :src="replaceYoutubeUrl(message.message)" allowfullscreen allowtransparency allow="autoplay">
          </iframe>
        </div>
      </vue-plyr>

      <!-- vimeo video -->
      <vue-plyr
        v-else-if="message.messageType === 'text' && isVimeoVideo && message.isVideo"
        :options="videoPlayerOptions"
      >
        <div class="plyr__video-embed" style="width: 100%; margin-top: 5px">
          <iframe
            :src="replaceVimeoUrl(message.message)"
            width="100%"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          >
          </iframe>
        </div>
      </vue-plyr>

      <!-- image message -->
      <el-image
        v-else-if="message.messageType === 'image'"
        style="width: 200px; height: 200px; border-radius: 15px; margin-top: 5px"
        :src="message.message"
        fit="cover"
        :preview-src-list="[message.message]"
      />

      <!-- file message -->
      <div v-else-if="message.messageType === 'document'" class="message__document">
        <a :href="message.message" download target="_blank" rel="nofollow noopener">
          {{ message.file.fileName }}
        </a>
      </div>

      <!-- voice and audio message -->
      <div
        v-else-if="message.messageType === 'voice' || message.messageType === 'audio'"
        class="message__voice"
        :class="{ isVoice: message.messageType === 'voice' }"
      >
        <el-tooltip effect="dark" v-if="message.messageType === 'voice'" content="Is voice message" placement="right">
          <i class="el-icon-microphone" />
        </el-tooltip>
        <vue-plyr :options="audioPlayerOptions">
          <audio :src="message.message"></audio>
        </vue-plyr>
      </div>

      <!-- video message -->
      <div v-else-if="message.messageType === 'video' && !message.isVideo" class="message__video">
        <vue-plyr :options="videoPlayerOptions">
          <video :src="message.message"></video>
        </vue-plyr>
      </div>

      <!-- geolocation message -->
      <l-map
        v-if="message.messageType === 'geolocation'"
        :zoom="zoom"
        :center="[message.message[0], message.message[1]]"
        style="height: 100%; width: 100%;"
      >
        <l-tile-layer :url="url" :attribution="attribution" />
        <l-marker :lat-lng="[message.message[0], message.message[1]]" :icon="icon" />
      </l-map>
    </div>

    <el-dropdown v-if="message.sender.uid === currentUser.uid" @command="handleCommand" trigger="click">
      <span class="el-dropdown-link">
        <i class="el-icon-arrow-down el-icon--right" />
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item
          command="edit"
          v-if="message.messageType === 'text' && !message.isVideo && !isYoutubeVideo && !isVimeoVideo"
        >
          {{ 'Edit' | locale }}
        </el-dropdown-item>
        <el-dropdown-item command="delete">
          {{ 'Delete' | locale }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>

    <!-- edite message dialog -->
    <el-dialog
      :title="'EditMessageTitle' | locale"
      :visible.sync="editedModalShow"
      width="80%"
      :before-close="handleClose"
    >
      <el-input
        type="textarea"
        autosize
        @keydown.native="e => onTypeMessage(e)"
        :placeholder="'Input_TypeMessage' | locale"
        v-model="newMessage"
      >
      </el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editedModalShow = false">
          {{ 'Cancel' | locale }}
        </el-button>
        <el-button type="primary" @click="editMessage" :loading="loading">
          {{ 'Edit' | locale }}
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { icon } from 'leaflet';
import staticIcon from '@/assets/marker.svg';
import locale from '@/filters/localize.filter';
export default {
  name: 'Message',
  data: () => ({
    videoPlayerOptions: {
      controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen']
    },
    audioPlayerOptions: {
      controls: ['play', 'progress', 'current-time', 'mute', 'volume']
    },
    editedModalShow: false,
    newMessage: '',
    zoom: 14,
    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    icon: icon({
      iconUrl: `${staticIcon}`,
      iconSize: [30, 41]
    })
  }),
  props: ['message', 'currentChat'],
  computed: {
    ...mapGetters('auth', ['currentUser']),
    ...mapGetters('chats', ['loading']),
    messageDate() {
      return this.message.timestamp.seconds * 1000 + this.message.timestamp.nanoseconds / 1000000;
    },
    isVideo() {
      if (this.message.messageType === 'video') {
        return true;
      } else {
        return false;
      }
    },
    isYoutubeVideo() {
      if (
        (this.message.messageType === 'text' && this.message.message.indexOf('/youtu') !== -1) ||
        this.message.message.indexOf('youtube.com') !== -1
      ) {
        return true;
      } else {
        return false;
      }
    },
    isVimeoVideo() {
      if (this.message.messageType === 'text' && this.message.message.indexOf('/vimeo') !== -1) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    replaceYoutubeUrl(url) {
      return url.replace('watch?v=', 'embed/');
    },
    replaceVimeoUrl(url) {
      var urlId = url.split('.com/')[1];
      return `https://player.vimeo.com/video/${urlId}?loop=false&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media`;
    },
    handleClose() {
      this.newMessage = '';
      this.editedModalShow = false;
    },
    async editMessage() {
      try {
        await this.$store.dispatch('chats/editMessage', {
          chatId: this.currentChat,
          messageId: this.message.id,
          newMessage: this.newMessage
        });
        this.handleClose();
      } catch (error) {
        this.$notify.error({
          title: locale('ErrorTitle'),
          message: `${error}`
        });
        throw error;
      }
    },
    async onTypeMessage(e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        await this.editMessage();
      }
    },
    async handleCommand(command) {
      if (command === 'delete') {
        try {
          await this.$store.dispatch('chats/deleteMessage', {
            chatId: this.currentChat,
            messageId: this.message.id,
            file: this.message.file
          });
        } catch (error) {
          this.$notify.error({
            title: locale('ErrorTitle'),
            message: `${error}`
          });
          throw error;
        }
      } else if (command === 'edit') {
        this.newMessage = this.message.message;
        this.editedModalShow = true;
      }
    }
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
.message__text {
  a {
    color: $warning;
    text-decoration: underline;
    transition: 0.3s text-decoration-color ease-out;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}
.el-image-viewer__close {
  opacity: 1;
  top: 15px;
  right: 15px;
  i {
    color: $white;
  }
}
</style>
<style lang="scss" scoped>
@import '@/scss/_variables';
.message {
  max-width: 70%;
  display: flex;
  background: $primary;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: $radius;
  padding: $gutter / 1.5 $gutter $gutter / 1.5 $gutter / 1.5;
  position: relative;
  margin-left: auto;
  color: $white;
  @media (max-width: $braikpoint) {
    max-width: 100%;
  }
  .el-dropdown {
    position: absolute;
    right: 5px;
    top: 5px;
    &-link {
      cursor: pointer;
    }
  }
  &__avatar {
    .el-avatar {
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 13px;
    }
  }
  &__content {
    padding: 0 $gutter / 1.5;
  }
  &__video {
    margin-top: 5px;
  }
  &.video {
    width: 100%;
    max-width: 50%;
    @media (max-width: $braikpoint) {
      max-width: 400px;
    }
    .message__content {
      width: 100%;
    }
  }
  &__date {
    white-space: nowrap;
    color: $white;
    font-size: 12px;
    position: relative;
    line-height: 1;
    display: block;
  }
  &__text {
    display: block;
    white-space: pre-line;
    &.edited {
      position: relative;
      padding-bottom: 15px;
      .edited__mark {
        position: absolute;
        font-size: 10px;
        line-height: 1;
        color: darken($gray, 20%);
        bottom: 0;
        left: 0;
      }
    }
  }
  &__document,
  &__text {
    a {
      text-decoration: underline;
      color: $warning;
      transition: 0.3s text-decoration-color ease-out;
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
  &__voice {
    margin-top: 5px;
    &.isVoice {
      display: flex;
      align-items: center;
      i {
        font-size: 16px;
        margin-top: 6px;
        margin-right: 6px;
      }
    }
  }
  &.geolocation {
    width: 100%;
    max-width: 50%;
    @media (max-width: $braikpoint) {
      max-width: 400px;
    }
    .message__date {
      margin-bottom: 5px;
    }
    .message__content {
      width: 100%;
      height: 300px;
      padding-bottom: 20px;
    }
  }
  &.active {
    .message__date {
      color: lighten($main-text, 40%);
    }
    .edited__mark {
      color: $white;
    }
    margin-left: 0;
    background: $white;
    color: $main-text;
  }
}
</style>
