.el-date-editor {
  @media (max-width: $braikpoint) {
    width: 100%;
    max-width: 300px;
  }
  .el-range-separator {
    width: auto;
    @media (max-width: $braikpoint) {
      font-size: 11px;
    }
  }
}
.el-range-editor .el-range-input {
  @media (max-width: $braikpoint) {
    font-size: 11px;
  }
}
.el-date-range-picker {
  width: auto;
  max-width: 650px;
}
.el-date-range-picker .el-picker-panel__body {
  display: flex;
  min-width: auto;
  @media (max-width: $braikpoint) {
    flex-direction: column;
  }
}
.el-date-range-picker__content {
  @media (max-width: $braikpoint) {
    width: 100%;
  }
  &.is-left {
    @media (max-width: $braikpoint) {
      border-right: 0;
      border-bottom: 1px solid #e4e4e4;
    }
  }
}
