<template>
  <div class="rooms" :class="sideBarShow ? 'active' : ''">
    <div class="rooms-wrapper" v-if="currentUser.emailVerified && chats.length">
      <Chat
        v-for="chat in chats"
        :key="chat.id"
        :notifCount="notifCount"
        :chat="chat"
        :currentChat="currentChat"
        :currentUser="currentUser"
      />
    </div>
    <div class="rooms-wrapper" v-else style="padding-left: 15px">
      {{ 'NoFoundChats' | locale }}
    </div>
    <NewChat v-if="currentUser.emailVerified" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import NewChat from '../NewChat';
import Chat from './ChatListItem';
export default {
  name: 'Rooms',
  computed: {
    ...mapGetters('ui', ['sideBarShow']),
    ...mapGetters('chats', ['chats', 'currentChat', 'loading', 'notifCount']),
    ...mapGetters('auth', ['currentUser'])
  },
  methods: {},
  async mounted() {
    await this.$store.dispatch('chats/getChats');
    await this.$store.dispatch('chats/fetchAllRoomsMessages', this.currentUser.uid);
    if (window.innerWidth < 992) {
      document.querySelector('.sidebar-toggler').style.display = 'block';
    }
  },
  components: {
    NewChat,
    Chat
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.rooms {
  width: 25%;
  background: $white;
  position: absolute;
  transition: 0.3s transform ease-out;
  height: 100%;
  z-index: 200;
  background: lighten($primary, 33%);
  @media (max-width: $braikpoint) {
    width: 100%;
    transform: translateX(-100%);
  }
  &.active {
    transform: translateX(0);
    position: relative;
  }
  &-wrapper {
    overflow-y: auto;
    height: 100%;
    padding-top: $gutter;

    &::-webkit-scrollbar {
      width: $scroll-width;
    }

    &::-webkit-scrollbar-track {
      background: $gray;
      border-radius: $scroll-width;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: $scroll-width;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken($primary, 10%);
    }
  }
}
</style>
