<template>
  <div
    class="chat"
    @click="
      () => {
        if (activeChat) {
          hideSidebar();
        } else {
          setCurrentChat();
        }
      }
    "
    v-if="chatName && userStatus"
    :class="activeChat ? 'active' : ''"
  >
    <el-avatar v-if="avatar" :src="avatar" />
    <el-avatar v-else>
      {{ userName }}
    </el-avatar>
    {{ chatName }}
    <span class="status" :class="userStatus && userStatus === 'online' ? 'online' : ''" />
    <el-tag v-if="getNotification > 0 && currentChat !== chat.id" type="warning" effect="dark">
      {{ getNotification }}
    </el-tag>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import melody from '../../../assets/notif.mp3';
export default {
  name: 'Room',
  props: ['chat', 'notifCount', 'currentChat', 'currentUser'],
  data: () => ({
    sound: new Audio(melody)
  }),
  computed: {
    ...mapGetters('users', ['users']),
    getNotification() {
      let notif = 0;
      this.notifCount.forEach(el => {
        if (el.id === this.chat.id) {
          notif = el.notif;
          this.notifCounter = el.notif;
          if (el.notif > 0) {
            this.sound.play();
          }
        } else {
          this.sound.pause();
        }
      });
      return notif;
    },
    getUserId() {
      if (this.chat) {
        return this.chat.id
          .split('|')
          .filter(id => id !== this.currentUser.uid)
          .join('');
      } else {
        return undefined;
      }
    },
    chatName() {
      if (this.users.length && this.getUserId) {
        return this.users.find(user => user.uid === this.getUserId).name;
      } else {
        return '';
      }
    },
    avatar() {
      if (this.users.length && this.getUserId) {
        return this.users.find(user => user.uid === this.getUserId).avatar;
      } else {
        return '';
      }
    },
    userName() {
      if (this.users.length && this.getUserId) {
        return this.users
          .find(user => user.uid === this.getUserId)
          .name.split(' ')
          .join('')[0];
      } else {
        return '';
      }
    },
    userStatus() {
      if (this.users.length && this.getUserId) {
        return this.users.find(user => user.uid === this.getUserId).status;
      } else {
        return 'offline';
      }
    },
    activeChat() {
      if (this.currentChat && this.currentChat === this.chat.id) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    hideSidebar() {
      if (window.innerWidth < 992) {
        this.$store.commit('ui/setSideBarShow', false);
      }
    },
    setCurrentChat() {
      this.sound.pause();
      this.$store.commit('chats/setMessages', []);
      this.$store.commit('chats/setCurrentChat', this.chat.id);
      this.$store.commit('chats/resetNotifications', this.chat.id);
      if (window.innerWidth < 992) {
        this.$store.commit('ui/setSideBarShow', false);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.chat {
  position: relative;
  display: flex;
  padding: $gutter / 2 $gutter;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: $white;
  }
  &.active {
    background: $white;
  }
  .el-avatar {
    margin-right: $gutter;
  }
  .el-tag {
    margin-left: auto;
    font-weight: 700;
  }
  .status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: $gutter / 2;
    left: $gutter;
    z-index: 2;
    background: $danger;
    &.online {
      background: $success;
    }
  }
}
</style>
