<template>
  <div class="video-call">
    <vue-webrtc
      ref="webrtc"
      width="100%"
      :roomId="$route.params.roomId"
      @error="onError"
      stunServer="stun:stun1.l.google.com:19302"
    />
    <div class="buttons">
      <el-button @click="onJoin" type="primary">{{ 'Join' | locale }}</el-button>
      <el-button @click="onShareScreen" type="warning">{{ 'ShareScreen' | locale }}</el-button>
      <el-button @click="onLeave" type="danger">{{ 'Leave' | locale }}</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VideoCall',
  props: ['roomId'],
  methods: {
    onJoin() {
      this.$refs.webrtc.join();
    },
    onShareScreen() {
      this.$refs.webrtc.shareScreen();
    },
    onError(error) {
      this.$notify.error({
        title: 'On Error Event',
        message: `${error}`
      });
    },
    async onLeave() {
      this.$refs.webrtc.leave();
      this.$router.push('/');
    }
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
.video-call {
  min-height: calc(100vh - 76px);
  overflow-y: auto;
  @media (max-width: $braikpoint) {
    padding-top: $gutter;
  }
  & > * {
    box-sizing: border-box;
  }
  .video-list {
    display: flex;
    justify-content: center;
    background: none;
    @media (max-width: $braikpoint) {
      flex-direction: column;
      align-items: center;
      padding: 0 $gutter;
    }
    .video-item {
      margin: $gutter / 1.5;
      video {
        max-width: 100%;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    padding: $gutter;
    @media (max-width: $braikpoint) {
      flex-direction: column;
    }
    .el-button {
      @media (max-width: $braikpoint) {
        margin: 0 0 $gutter / 2;
      }
    }
  }
}
</style>
