<template>
  <div class="chat-header">
    <el-button
      v-if="collocutorStatus === 'online'"
      type="success"
      class="start-video-call mobile-btn"
      icon="el-icon-phone-outline"
      @click="startCall"
    />
    <el-input
      :placeholder="'Input_Search' | locale"
      prefix-icon="el-icon-search"
      :value="term"
      :disabled="disableSearch"
      clearable
      @input="onSearch"
      class="search"
    />

    <el-select class="select" :value="filter" :placeholder="'Input_Filter' | locale" @change="onFilter">
      <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
    </el-select>

    <el-popconfirm
      :confirmButtonText="'Yes' | locale"
      :cancelButtonText="'No' | locale"
      icon="el-icon-info"
      iconColor="red"
      cancelButtonType="primary"
      confirmButtonType="danger"
      :title="'DeleteChatTitle' | locale"
      @onConfirm="deleteChat"
    >
      <el-button slot="reference" type="danger" class="delete-chat mobile-btn" icon="el-icon-delete" />
    </el-popconfirm>

    <el-button class="mobile-btn" icon="el-icon-date" @click="showCalendar = !showCalendar" />
    <div class="calendar" v-if="showCalendar">
      <el-date-picker
        @change="setDateFilter"
        v-model="date"
        type="daterange"
        range-separator="To"
        start-placeholder="Start date"
        end-placeholder="End date"
        value-format="timestamp"
        clearable
      >
      </el-date-picker>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import locale from '@/filters/localize.filter';
export default {
  name: 'ChatHeader',
  data: () => ({
    date: '',
    options: [],
    showCalendar: false
  }),
  computed: {
    ...mapState('chats', ['term', 'filter', 'currentChat', 'error']),
    ...mapState('users', ['users']),
    ...mapState('auth', ['currentUser']),
    ...mapGetters(['locale']),
    disableSearch() {
      if (this.filter === 'voice' || this.filter === 'image' || this.filter === 'video' || this.filter === 'document') {
        return true;
      } else {
        return false;
      }
    },
    selectOptions() {
      return [
        {
          value: 'all',
          label: locale('Filter_All')
        },
        {
          value: 'text',
          label: locale('Filter_Text')
        },
        {
          value: 'voice',
          label: locale('Filter_Audio')
        },
        {
          value: 'video',
          label: locale('Video')
        },
        {
          value: 'document',
          label: locale('Filter_Doc')
        },
        {
          value: 'image',
          label: locale('Filter_Image')
        }
      ];
    },
    collocutorStatus() {
      const collocutorId = this.currentChat.split('|').find(item => item !== this.currentUser.uid);
      const index = this.users.findIndex(user => user.uid === collocutorId);
      return this.users[index].status;
    }
  },
  methods: {
    setDateFilter(value) {
      this.$store.commit('chats/setDateFilter', value);
    },
    async startCall() {
      this.$router.push(`/call/${this.currentChat}`);
    },
    onSearch(value) {
      this.$store.commit('chats/search', value);
    },
    onFilter(value) {
      this.$store.commit('chats/filter', value);
    },
    async deleteChat() {
      try {
        await this.$store.dispatch('chats/deleteChat', this.currentChat);
        if (window.innerWidth < 992) {
          this.$store.commit('ui/setSideBarShow', true);
        }
        this.$notify({
          title: locale('ChatDeleteTitle'),
          type: 'success'
        });
      } catch (error) {
        this.$notify.error({
          title: locale('ErrorTitle'),
          message: `${this.error}`
        });
        throw error;
      }
    }
  },
  watch: {
    locale() {
      if (this.locale) {
        this.options = this.selectOptions;
      }
    }
  },
  mounted() {
    this.options = this.selectOptions;
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
.chat-header {
  .search {
    .el-input {
      &__inner {
        @media (max-width: $braikpoint) {
          height: 32px;
          line-height: 32px;
        }
      }
      &__icon {
        @media (max-width: $braikpoint) {
          line-height: 32px;
        }
      }
    }
  }
  .el-select.select {
    .el-input__inner {
      @media (max-width: $braikpoint) {
        height: 32px;
        line-height: 32px;
      }
    }
    .el-input__icon {
      @media (max-width: $braikpoint) {
        line-height: 32px;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
@import '@/scss/_variables';
.chat-header {
  min-height: 60px;
  display: flex;
  align-items: center;
  background: $white;
  padding: 0 $gutter;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: lighten($primary, 35%);
  position: relative;

  .delete-chat {
    margin: 0 $gutter;
    @media (max-width: $braikpoint) {
      margin: 0 $gutter / 1.5;
    }
  }

  .el-input {
    margin: 0 $gutter 0 0;
    @media (max-width: $braikpoint) {
      margin-right: $gutter / 1.5;
    }
  }

  .start-video-call {
    margin-right: $gutter;
    font-size: 18px;
    border: 0;
    padding: 0;
    min-width: 40px;
    line-height: 40px;
  }
  .calendar {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10000;
  }

  .mobile-btn {
    @media (max-width: $braikpoint) {
      min-width: 30px;
      line-height: 30px;
      font-size: 15px;
      padding: 0;
    }
  }
}
</style>
