<template>
  <div class="chat-view" :class="sideBarShow ? '' : 'big'">
    <ChatHeader />
    <Messages />
    <SendForm />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ChatHeader from './ChatHeader';
import SendForm from './SendForm';
import Messages from './messages/Messages';
export default {
  name: 'ChatView',
  computed: {
    ...mapGetters('ui', ['sideBarShow'])
  },
  components: {
    ChatHeader,
    Messages,
    SendForm
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.chat-view {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('../../assets/pattern-4.svg'),
    linear-gradient(to right, rgba(31, 162, 255, 0.2), rgba(18, 216, 250, 0.2), rgba(166, 255, 203, 0.2));
  background-size: contain;
  @media (max-width: $braikpoint) {
    width: 0;
    display: none;
  }
  &.big {
    width: 100%;
    display: block;
  }
}
</style>
