<template>
  <div>
    <Progress :uploadValue="uploadValue" />
    <el-dropdown trigger="click" @command="handleCommand">
      <el-button class="button-sm" icon="el-icon-paperclip" circle />
      <el-dropdown-menu slot="dropdown" class="files-dropdown">
        <el-dropdown-item>
          <input
            type="file"
            @change="e => sendFile(e, 'image')"
            @click="e => setMaxSize(6000000)"
            ref="imageInput"
            accept="image/png, image/jpeg"
            class="file-input"
            id="image"
          />
          <label for="image" title="PNG, JPEG">
            <i class="el-icon-picture-outline" />
            {{ 'Image' | locale }}
          </label>
        </el-dropdown-item>
        <el-dropdown-item>
          <input
            type="file"
            @change="e => sendFile(e, 'audio')"
            @click="e => setMaxSize(2000000)"
            ref="imageInput"
            accept="audio/*"
            class="file-input"
            id="audio"
          />
          <label for="audio" title="MP3, WAV, etc">
            <i class="el-icon-mic" />
            {{ 'Audio' | locale }}
          </label>
        </el-dropdown-item>

        <el-dropdown-item>
          <input
            type="file"
            @change="e => sendFile(e, 'video')"
            @click="e => setMaxSize(100000000)"
            ref="imageInput"
            accept="video/mp4,video/x-m4v,video/*"
            class="file-input"
            id="video"
          />
          <label for="video">
            <i class="el-icon-video-camera-solid" />
            {{ 'Video' | locale }}
          </label>
        </el-dropdown-item>
        <el-dropdown-item>
          <input
            type="file"
            accept-charset="utf-8"
            ref="docInput"
            @click="e => setMaxSize(50000000)"
            @change="e => sendFile(e, 'document')"
            accept="text/javascript, application/javascript, application/pdf, application/zip, text, text/css, text/html, text/plain, application/pdf, text/csv"
            class="file-input"
            id="document"
          />
          <label for="document" title="S, zip, pdf, txt, HTML, CSS, CSV">
            <i class="el-icon-tickets" />
            {{ 'Document' | locale }}
          </label>
        </el-dropdown-item>
        <el-dropdown-item icon="el-icon-location-information" class="location-share" command="location">
          {{ 'ShareLocation' | locale }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import firebase from 'firebase/app';
import Progress from '@/components/Progress';
import locale from '@/filters/localize.filter';
export default {
  name: 'ImageUpload',
  data: () => ({
    storageRef: firebase.storage().ref(),
    uploadValue: 0,
    uploadTask: null,
    maxSize: undefined
  }),
  props: ['currentChat', 'currentUser'],
  methods: {
    getPath() {
      return `chats/${this.currentChat}`;
    },
    setMaxSize(value) {
      this.maxSize = value;
    },
    handleCommand(command) {
      if (command === 'location') {
        navigator.geolocation.getCurrentPosition(
          async pos => {
            await this.$store.dispatch('chats/sendMessage', {
              message: [pos.coords.latitude, pos.coords.longitude],
              chatId: this.currentChat,
              user: this.currentUser,
              messageType: 'geolocation'
            });
          },
          err => {
            this.$notify.error({
              title: 'Error',
              message: locale('BannedGeolocation')
            });
            console.log(err.code);
          },
          {
            enableHighAccuracy: true,
            timeout: 10000,
            maximumAge: 0
          }
        );
      }
    },
    async sendFile(e, type) {
      let file = e.target.files[0];
      let fileName = e.target.files[0].name;
      let fileType = e.target.files[0].type;
      let fileSize = e.target.files[0].size;
      console.log(file, fileType);
      let metadata = {
        contentType: fileType
      };
      if (file === null) {
        this.$refs.imageInput.value = null;
        this.$refs.docInput.value = null;
        this.maxSize = undefined;
        return false;
      } else {
        if (fileSize < this.maxSize) {
          let filePath = this.getPath() + '/' + uuidv4() + '.' + fileName.split('.')[1];
          this.uploadTask = this.storageRef.child(filePath).put(file, metadata);

          this.uploadTask.on(
            'state_changed',
            snapshot => {
              this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            },
            error => {
              this.$notify.error({
                title: locale('ErrorTitle'),
                message: `${error.message}`
              });
              this.uploadTask = null;
            },
            () => {
              this.uploadValue = 100;

              this.uploadTask.snapshot.ref.getDownloadURL().then(async url => {
                await this.$store.dispatch('chats/sendMessage', {
                  message: url,
                  chatId: this.currentChat,
                  user: this.currentUser,
                  messageType: type,
                  file: {
                    fileName,
                    fileType,
                    filePath
                  }
                });

                if (url) {
                  this.uploadValue = 0;
                  this.uploadTask = null;
                  this.maxSize = undefined;
                  this.$refs.imageInput.value = null;
                  this.$refs.docInput.value = null;
                }
              });
            }
          );
        } else {
          this.$notify.info({
            title: locale('WarningTitle'),
            message: `${locale('WarningMaxSizeDescr')} ${this.maxSize / 1000000}mb`,
            type: 'warning'
          });
        }
      }
    }
  },
  components: {
    Progress
  }
};
</script>

<style lang="scss">
.files-dropdown .el-dropdown-menu__item {
  padding: 0;
}
</style>
<style lang="scss" scoped>
@import '@/scss/_variables';
.file-input {
  display: none;
  & + label {
    display: block;
    padding: 0 $gutter;
    cursor: pointer;
  }
}
.location-share {
  padding: 0 $gutter;
}
</style>
