<template>
  <div class="create-chat">
    <el-tooltip class="item" effect="dark" :content="'ChatCreate_Title' | locale" placement="top-start">
      <el-button type="primary" icon="el-icon-chat-line-square" circle @click="dialogVisible = true" />
    </el-tooltip>

    <el-dialog
      :title="'ChatCreate_Title' | locale"
      :append-to-body="true"
      :visible.sync="dialogVisible"
      width="300px"
      :before-close="handleClose"
    >
      <ul class="users" v-if="users.length">
        <li v-for="user in users" :key="user.uid" class="user">
          <input type="radio" :checked="selectedUser === user ? true : false" @change="selectUser(user)" />
          <el-avatar v-if="user.avatar" :src="user.avatar" />
          <el-avatar v-else>
            {{ user.name.split(' ').join('')[0] }}
          </el-avatar>

          {{ user.name }}

          <span class="user__status" :class="user.status === 'online' ? 'online' : 'offline'" />
        </li>
      </ul>
      <div v-else style="padding-bottom: 20px">
        {{ 'NoFoundUsers' | locale }}
      </div>
      <el-input
        :placeholder="'Input_TypeMessage' | locale"
        v-model="message"
        @keydown.native="e => handleInput(e)"
        :disabled="!selectedUser || chatExists"
      />
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">
          {{ 'Cancel' | locale }}
        </el-button>
        <el-button
          type="primary"
          @click="createChat"
          :loading="loading"
          :disabled="!selectedUser || !message || chatExists"
          :title="chatExistTitle"
        >
          {{ 'ChatCreate_Title' | locale }}
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import locale from '@/filters/localize.filter';
export default {
  name: 'NewChat',
  data: () => ({
    message: '',
    dialogVisible: false,
    selectedUser: null
  }),
  computed: {
    ...mapGetters('auth', ['currentUser']),
    ...mapGetters('users', ['users']),
    ...mapState('chats', ['chatExists']),
    ...mapGetters('chats', ['chats', 'loading', 'error']),
    chatExistTitle() {
      if (this.chatExists) {
        return locale('ChatCreate_Exists');
      } else {
        return '';
      }
    }
  },
  methods: {
    getChatId(user) {
      return user.uid < this.currentUser.uid
        ? user.uid + '|' + this.currentUser.uid
        : this.currentUser.uid + '|' + user.uid;
    },
    selectUser(user) {
      this.selectedUser = user;

      this.$store.dispatch('chats/chatExists', this.getChatId(user));
    },
    handleInput(e) {
      if (e.keyCode === 13) {
        this.createChat();
      }
    },
    async createChat() {
      try {
        await this.$store.dispatch('chats/addChat', {
          user: this.selectedUser,
          chatId: this.getChatId(this.selectedUser, this.currentUser),
          message: this.message
        });
        this.handleClose();
        this.message = '';
        if (window.innerWidth < 992) {
          this.$store.commit('ui/setSideBarShow', false);
        }
      } catch (error) {
        this.$notify.error({
          title: locale('ErrorTitle'),
          message: `${this.error}`
        });
        throw error;
      }
    },
    handleClose() {
      this.dialogVisible = false;
      this.selectedUser = null;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.users {
  padding-left: 0;
  margin-top: 0;
  li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    [type='radio'] {
      margin-right: $gutter / 2;
    }
    .el-avatar {
      margin-right: $gutter;
    }
    .el-button {
      margin-left: auto;
    }
  }
}
.create-chat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  display: flex;
  align-items: center;
  padding: $gutter;
  background: lighten($primary, 33%);
}
</style>
