<template>
  <div class="chat-form">
    <el-alert
      v-if="alertShow"
      :title="'WarningTitle' | locale"
      :description="'FoundVideoDescr' | locale"
      type="warning"
      show-icon
      effect="dark"
      @close="closeAlert"
    >
    </el-alert>
    <Progress :uploadValue="uploadValue" />
    <el-input
      type="textarea"
      @keydown.native="e => onTypeMessage(e, 'form')"
      @input="onChangeInput"
      autosize
      :placeholder="'Input_TypeMessage' | locale"
      v-model="message"
    />

    <!-- emoji picker -->
    <div v-click-outside="emojiHide">
      <el-button @click="emojiShow = !emojiShow" class="button-sm" circle>😀</el-button>
      <picker
        :exclude="['flags', 'foods', 'activity', 'symbols']"
        set="google"
        :size="20"
        :sheetSize="20"
        v-if="emojiShow"
        @select="emoji => createMessage(emoji)"
      />
    </div>

    <FileUpload :currentUser="currentUser" :currentChat="currentChat" />

    <div v-if="!message">
      <el-tooltip effect="dark" :content="'VoiceMessage' | locale" placement="top" v-if="!isRecording">
        <el-button native-type="button" type="primary" circle icon="el-icon-microphone" @click="startRecording" />
      </el-tooltip>
      <el-tooltip effect="dark" :content="'SendTitle' | locale" placement="top" v-else>
        <el-button native-type="button" type="success" circle icon="el-icon-microphone" @click="stopRecording" />
      </el-tooltip>
    </div>

    <el-button v-else :disabled="!message" @click="submitForm" type="primary" icon="el-icon-position" circle />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { v4 as uuidv4 } from 'uuid';
import firebase from 'firebase/app';
import ClickOutside from 'vue-click-outside';
import { Picker } from 'emoji-mart-vue';
import FileUpload from './FileUpload';
import Progress from '@/components/Progress';
import locale from '@/filters/localize.filter';
export default {
  name: 'SendForm',
  data: () => ({
    storageRef: firebase.storage().ref(),
    isRecording: false,
    audioSource: null,
    uploadTask: null,
    emojiShow: false,
    uploadValue: 0,
    message: '',
    alertShow: false,
    alertTimeout: 10000
  }),
  computed: {
    ...mapGetters('auth', ['currentUser']),
    ...mapGetters('chats', ['currentChat'])
  },
  methods: {
    closeAlert() {
      this.alertShow = false;
    },
    startRecording() {
      this.isRecording = true;
      this.mediaRecorder.start();
    },
    stopRecording() {
      this.isRecording = false;
      this.mediaRecorder.stop();
    },
    getPath() {
      return `chats/${this.currentChat}`;
    },
    initMediaRecorder(stream) {
      const recorder = new MediaRecorder(stream);
      let chunks = [];

      recorder.addEventListener('stop', () => {
        var blob = new Blob(chunks, { type: 'audio/wav' });
        chunks = [];
        this.audioSource = URL.createObjectURL(blob);
        let metadata = {
          contentType: 'audio/wav'
        };
        let filePath = this.getPath() + '/' + uuidv4();
        this.uploadTask = this.storageRef.child(filePath).put(blob, metadata);
        this.uploadTask.on(
          `state_changed`,
          snapshot => {
            this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          },
          error => {
            this.$notify.error({
              title: locale('ErrorTitle'),
              message: `${error.message}`
            });
          },
          () => {
            this.uploadValue = 100;
            this.uploadTask.snapshot.ref.getDownloadURL().then(async url => {
              await this.$store.dispatch('chats/sendMessage', {
                message: url,
                chatId: this.currentChat,
                user: this.currentUser,
                messageType: 'voice',
                file: {
                  filePath
                }
              });

              if (url) {
                this.uploadTask = null;
                this.uploadValue = 0;
              }
            });
          }
        );
      });

      recorder.addEventListener('dataavailable', e => {
        chunks.push(e.data);
      });

      this.mediaRecorder = recorder;
    },
    emojiHide() {
      this.emojiShow = false;
    },
    createMessage(emoji) {
      if (this.message) {
        this.message = this.message + emoji.native;
      } else {
        this.message = emoji.native;
      }
    },
    onChangeInput(value) {
      if (value.indexOf('youtube.com') !== -1 || value.indexOf('vimeo.com') !== -1 || value.indexOf('/youtu') !== -1) {
        this.alertShow = true;
      }
    },
    async onTypeMessage(e, form) {
      if (e.keyCode === 13) {
        if (e.ctrlKey) {
          e.preventDefault();
          await this.submitForm(form);
        }
      } else if (e.keyCode === 9) {
        this.emojiShow = true;
      }
    },
    async submitForm() {
      if (this.message) {
        let isVideo;
        if (
          this.message.indexOf('youtube.com') !== -1 ||
          this.message.indexOf('vimeo.com') !== -1 ||
          this.message.indexOf('/youtu') !== -1
        ) {
          isVideo = true;
        }
        try {
          await this.$store.dispatch('chats/sendMessage', {
            message: this.message,
            chatId: this.currentChat,
            user: this.currentUser,
            messageType: 'text',
            file: null,
            isVideo
          });
          this.message = '';
        } catch (error) {
          this.$notify.info({
            title: locale('WarningTitle'),
            message: locale('WarningDescr'),
            type: 'warning'
          });
          throw error;
        }
      } else {
        this.$notify({
          title: locale('WarningTitle'),
          message: locale('WarningMessageRequired'),
          type: 'warning'
        });
      }
    }
  },
  watch: {
    alertShow: function() {
      if (this.alertShow) {
        setTimeout(() => {
          this.alertShow = false;
        }, this.alertTimeout);
      } else {
        clearTimeout(this.alertTimeout);
      }
    }
  },
  mounted() {
    navigator.mediaDevices
      .getUserMedia({
        audio: {
          echoCancellation: false,
          googAutoGainControl: false,
          autoGainControl: false,
          noiseSuppression: false
        }
      })
      .then(stream => {
        this.initMediaRecorder.call(this, stream);
      });
  },
  beforeDestroy() {
    clearTimeout(this.alertTimeout);
  },
  components: {
    Picker,
    FileUpload,
    Progress
  },
  directives: {
    ClickOutside
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
.el-textarea {
  margin-right: 10px;
  @media (max-width: $braikpoint) {
    margin-right: 5px;
  }
}
.el-textarea__inner {
  min-height: 40px !important;
  max-height: 40px;
  @media (max-width: $braikpoint) {
    font-size: 13px;
  }
}
.button-sm {
  width: auto;
  height: auto;
  padding: 0 !important;
  border: 0 !important;
  color: $main-text;
  font-size: 20px;
  background: none !important;
  width: 25px;
  height: 40px;
}
.el-alert {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100vw;
  border-radius: 0;
  display: flex;
  align-items: flex-start;
  padding: 15px;
}
.el-alert__title {
  font-size: 20px;
}
.el-alert .el-alert__description {
  font-size: 16px;
}
.el-alert__closebtn {
  font-size: 16px;
}
</style>
<style lang="scss" scoped>
@import '@/scss/_variables';
.chat-form {
  display: flex;
  align-items: flex-end;
  min-height: 60px;
  max-height: 60px;
  padding: 0 $gutter;
  background: lighten($primary, 35%);
  border-top: 1px solid $gray;
  padding-bottom: $gutter / 1.5;
  position: relative;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16), 0 -1px 6px rgba(0, 0, 0, 0.23);
  .emoji-mart {
    position: absolute;
    right: 95px;
    bottom: 61px;
    z-index: 1000;
    @media (max-width: $braikpoint) {
      right: 15px;
      max-width: 290px;
    }
  }
  .el-form-item {
    margin-bottom: 0;
    width: 100%;
  }
  .el-button {
    margin-left: $gutter / 2;
    font-size: 16px;
  }
}
</style>
