<template>
  <el-row :gutter="20" class="profile-edit">
    <el-col :span="12" :offset="6" :xs="{ span: 20, offset: 2 }">
      <router-link to="/">
        {{ 'BackToChat' | locale }}
      </router-link>
      <h2>
        {{ 'ProfileEditTitle' | locale }}
      </h2>
      <el-form :model="form" ref="form" :validate-on-rule-change="false" :rules="profileEditRules">
        <el-form-item prop="email">
          <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
        </el-form-item>
        <el-form-item prop="displayName">
          <el-input :placeholder="'Input_DisplayName' | locale" autocomplete="off" v-model="form.displayName" />
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" autocomplete="off" :placeholder="'Input_Pass' | locale" v-model="form.password" />
        </el-form-item>
        <el-button
          :loading="loading"
          class="auth-btn"
          type="primary"
          :disabled="disableSubmit"
          @click="submitForm('form')"
        >
          {{ 'Edit' | locale }}
        </el-button>
        <el-button type="danger" native-type="button" class="auth-btn delete" @click="dialogVisible = true">
          {{ 'DeleteAccount' | locale }}
        </el-button>

        <el-dialog
          :title="'DeleteAccount' | locale"
          :visible.sync="dialogVisible"
          width="30%"
          :before-close="handleClose"
        >
          <span>
            {{ 'DeleteAccountCoinfirm' | locale }}
          </span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">
              {{ 'Cancel' | locale }}
            </el-button>
            <el-button type="danger" @click="deleteAccount" :loading="loading">
              {{ 'Delete' | locale }}
            </el-button>
          </span>
        </el-dialog>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { mapGetters } from 'vuex';
import locale from '@/filters/localize.filter';

export default {
  name: 'ProfileEdit',
  data: () => ({
    dialogVisible: false,
    form: {
      email: '',
      displayName: '',
      password: '',
      navbarToggler: false
    }
  }),
  computed: {
    ...mapGetters('auth', ['currentUser', 'loading', 'error']),
    disableSubmit() {
      if (
        this.form.email !== this.currentUser.email ||
        this.form.displayName !== this.currentUser.displayName ||
        this.form.password
      ) {
        return false;
      } else {
        return true;
      }
    },
    profileEditRules() {
      return {
        displayName: { required: true, message: locale('Input_DisplayNameRequired'), trigger: 'blur' },
        email: [
          { required: true, message: locale('Input_EmailRequired'), trigger: 'blur' },
          { type: 'email', message: locale('Input_EmailCorrect'), trigger: ['blur', 'change'] }
        ],
        password: [
          { required: true, message: locale('Input_PassRequired'), trigger: 'blur' },
          { min: 6, message: locale('Input_PassCorrect'), trigger: ['blur', 'change'] }
        ]
      };
    }
  },
  methods: {
    handleClose() {
      this.dialogVisible = false;
    },
    async deleteAccount() {
      try {
        await this.$store.dispatch('auth/deleteAccount');
        this.$notify({
          title: locale('DeleteAccountSuccess'),
          type: 'success'
        });
      } catch (error) {
        this.$notify.error({
          title: locale('ErrorTitle'),
          message: `${this.error}`
        });
        throw error;
      }
      this.dialogVisible = false;
    },
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/updateProfile', this.form);
            this.$notify({
              title: locale('ProfileUpdateSuccess'),
              type: 'success'
            });
          } catch (error) {
            this.$notify.error({
              title: locale('ErrorTitle'),
              message: `${this.error}`
            });
            throw error;
          }
          this.form.password = '';
        } else {
          this.$notify.info({
            title: locale('WarningTitle'),
            message: locale('WarningDescr'),
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.form.email = this.currentUser.email;
    this.form.displayName = this.currentUser.displayName;
    if (window.innerWidth < 992) {
      document.querySelector('.sidebar-toggler').style.display = 'none';
    }
  }
};
</script>

<style lang="scss" scoped>
.profile-edit {
  padding-top: 40px;
}
</style>
