<template>
  <el-select :value="locale" placeholder="Lang" @change="changeLocale">
    <el-option v-for="lang in languages" :key="lang.value" :label="lang.label" :value="lang.value" />
  </el-select>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'LocaleSelect',
  data: () => ({
    languages: [
      {
        value: 'ru-RU',
        label: 'RU'
      },
      {
        value: 'en-US',
        label: 'EN'
      }
    ]
  }),
  computed: {
    ...mapGetters('ui', ['sideBarShow']),
    ...mapGetters(['locale'])
  },
  methods: {
    async changeLocale(value) {
      await this.$store.dispatch('changeLocale', value);
    }
  }
};
</script>
