<template>
  <nav class="navbar" v-loading="loading">
    <el-tooltip class="sidebar-toggler" effect="dark" :content="sidebarTogglerTooltip" placement="bottom-start">
      <el-button type="plain" :icon="sideBarShow ? 'el-icon-s-fold' : 'el-icon-s-unfold'" @click="sidebarToggle" />
    </el-tooltip>
    <router-link class="navbar__logo" to="/">
      <img src="@/assets/logo.svg" alt="" />
      <span>Vue chat</span>
    </router-link>

    <LocaleSelect />

    <el-dropdown v-if="dropdownShow" class="dropdown" @command="handleCommand" trigger="click">
      <el-avatar v-if="currentUser.photoURL" :src="currentUser.photoURL" style="cursor: pointer" />
      <el-avatar v-else style="cursor: pointer; font-weight: 700">{{
        currentUser.displayName.split('').join()[0]
      }}</el-avatar>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="profile">
          {{ 'Dropdown_Profile' | locale }}
        </el-dropdown-item>
        <el-dropdown-item command="logout">
          {{ 'Dropdown_Logout' | locale }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
import LocaleSelect from './LocaleSelect';
import locale from '@/filters/localize.filter';
export default {
  name: 'Navbar',
  computed: {
    ...mapGetters('auth', ['currentUser']),
    ...mapGetters('ui', ['sideBarShow']),
    ...mapGetters(['loading']),
    sidebarTogglerTooltip() {
      if (this.sideBarShow) {
        return locale('Sidebar_Hide');
      } else {
        return locale('Sidebar_Show');
      }
    }
  },
  props: ['dropdownShow'],
  methods: {
    sidebarToggle() {
      if (this.sideBarShow) {
        this.$store.commit('ui/setSideBarShow', false);
      } else {
        this.$store.commit('ui/setSideBarShow', true);
      }
    },
    async handleCommand(command) {
      if (command === 'logout') {
        await this.$store.dispatch('auth/logout', this.currentUser);
      } else {
        this.$router.push('/profile-edit');
      }
    }
  },
  async mounted() {
    if (this.currentUser && !this.currentUser.emailVerified) {
      this.$notify({
        title: locale('EmailNoVerifyTitle'),
        message: locale('EmailNoVerifyDescr'),
        type: 'warning'
      });
    }
  },
  components: {
    LocaleSelect
  }
};
</script>

<style scoped lang="scss">
@import '@/scss/_variables';
.navbar {
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: $primary;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 76px;

  .el-select {
    margin-left: auto;
    max-width: 70px;
  }

  .sidebar-toggler {
    display: none;
    margin-right: 20px;
    @media (max-width: $braikpoint) {
      display: block;
    }
  }

  .dropdown {
    margin-left: $gutter * 1.5;
    .el-button {
      padding-right: 60px;
      .el-avatar {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        height: 30px;
        width: 30px;
      }
    }
  }
  &__logo {
    color: $white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    height: 40px;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      margin-right: $gutter;
    }

    span {
      @media (max-width: $braikpoint) {
        display: none;
      }
    }
  }
}
</style>
