<template>
  <div class="progress-wrapper" v-if="uploadValue > 0">
    <el-progress :percentage="Math.floor(uploadValue)" :stroke-width="8" type="circle" />
  </div>
</template>

<script>
export default {
  name: 'Progress',
  props: ['uploadValue']
};
</script>
