<template>
  <div class="home">
    <ChatsList />
    <ChatView v-if="currentChat" />
    <div v-else class="no-current-chat" :class="{ small: sideBarShow }">
      <img src="../../assets/chat.svg" alt="" />
      <h6>
        {{ 'NoCurrentChatTitle' | locale }}
      </h6>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ChatView from '@/views/chat/ChatView';
import ChatsList from '@/views/chat/chats/ChatsList';

export default {
  name: 'Home',
  computed: {
    ...mapGetters('chats', ['currentChat']),
    ...mapGetters('ui', ['sideBarShow'])
  },
  components: {
    ChatView,
    ChatsList
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.home {
  display: flex;
  height: calc(100vh - 76px);
}
.no-current-chat {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $gutter;
  text-align: center;
  @media (max-width: $braikpoint) {
    width: 100%;

    &.small {
      width: 0;
      display: none;
    }
  }
  h6 {
    @media (max-width: $braikpoint) {
      font-size: 16px;
    }
  }
  img {
    width: 150px;
    @media (max-width: $braikpoint) {
      width: 100px;
    }
  }
}
</style>
