* {
  box-sizing: border-box;
  outline: none !important;
}
body {
  margin: 0;
  padding: 0;
}
.plyr__time {
  font-size: 12px !important;
}
.plyr--audio .plyr__controls {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
.plyr--audio .plyr__controls {
  border-radius: 5px !important;
  padding-top: 0 !important;
}
