<template>
  <div class="auth-wrapper">
    <Navbar :dropdownShow="false" />
    <el-row :gutter="20">
      <el-col :span="12" :offset="6" :xs="{ span: 22, offset: 1 }">
        <router-view />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar';
export default {
  async mounted() {
    await this.$store.dispatch('getLocale');
  },
  components: {
    Navbar
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';

.auth-wrapper {
  padding: 116px 15px 40px;
}
.auth-btn {
  width: 100%;
  &.delete {
    margin: 15px 0;
  }
}
</style>
