<template>
  <div class="main-wrapper">
    <Navbar :dropdownShow="true" />
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Navbar from '@/components/Navbar';
export default {
  computed: {
    ...mapGetters('auth', ['currentUser'])
  },
  async mounted() {
    await this.$store.dispatch('users/getUsers', this.currentUser);
    await this.$store.dispatch('getLocale');
    this.$store.dispatch('users/listenUerStatuses', this.currentUser);
  },
  beforeDestroy() {
    this.$store.dispatch('detachListeners');
  },
  components: {
    Navbar
  }
};
</script>

<style lang="scss" scoped>
.main-wrapper {
  padding-top: 76px;
}
</style>
