<template>
  <div>
    <h2>{{ 'LoginTitle' | locale }}</h2>
    <LoginWithSocial />
    <el-form
      :model="form"
      ref="form"
      :rules="loginRules"
      @submit.native="submitForm('form')"
      :validate-on-rule-change="false"
    >
      <el-form-item prop="email">
        <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input type="password" autocomplete="off" :placeholder="'Input_Pass' | locale" v-model="form.password">
          <router-link slot="suffix" to="/recovery">
            {{ 'ForgotPass' | locale }}
          </router-link>
        </el-input>
      </el-form-item>
      <el-button :loading="loading" class="auth-btn" type="primary" @click="submitForm('form')">
        {{ 'LoginTitle' | locale }}
      </el-button>
      <p>
        {{ 'NoAccount' | locale }}
        <router-link to="/signup">
          {{ 'SignUp' | locale }}
        </router-link>
      </p>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import LoginWithSocial from './components/LoginWithSocial';
import locale from '@/filters/localize.filter';

export default {
  name: 'Login',
  data: () => ({
    form: {
      email: '',
      password: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['error', 'loading']),
    loginRules() {
      return {
        email: [
          { required: true, message: locale('Input_EmailRequired'), trigger: 'blur' },
          { type: 'email', message: locale('Input_EmailCorrect'), trigger: ['blur', 'change'] }
        ],
        password: [
          { required: true, message: locale('Input_PassRequired'), trigger: 'blur' },
          { min: 6, message: locale('Input_PassCorrect'), trigger: ['blur', 'change'] }
        ]
      };
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/signIn', this.form);
          } catch (error) {
            this.$notify.error({
              title: locale('ErrorTitle'),
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: locale('WarningTitle'),
            message: locale('WarningDescr'),
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  },
  components: {
    LoginWithSocial
  }
};
</script>
