<template>
  <div>
    <h2>
      {{ 'RecoveryPassTitle' | locale }}
    </h2>
    <el-form
      :model="form"
      ref="form"
      :rules="recoveryRules"
      @submit.native="submitForm('form')"
      :validate-on-rule-change="false"
    >
      <el-form-item prop="email">
        <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
      </el-form-item>
      <el-button :loading="loading" class="auth-btn" type="primary" @click="submitForm('form')">
        {{ 'SendEmail' | locale }}
      </el-button>
    </el-form>
    <p>
      <router-link to="/login">
        {{ 'LoginTitle' | locale }}
      </router-link>
    </p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import locale from '@/filters/localize.filter';

export default {
  name: 'Login',
  data: () => ({
    form: {
      email: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['error', 'loading']),
    recoveryRules() {
      return {
        email: [
          { required: true, message: locale('Input_EmailRequired'), trigger: 'blur' },
          { type: 'email', message: locale('Input_EmailCorrect'), trigger: ['blur', 'change'] }
        ]
      };
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/recoveryPassword', this.form);
            this.$notify({
              title: locale('SentEmailTitle'),
              message: locale('SentEmailDescr'),
              type: 'success'
            });
          } catch (error) {
            this.$notify.error({
              title: locale('ErrorTitle'),
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: locale('WarningTitle'),
            message: locale('WarningDescr'),
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  }
};
</script>
