<template>
  <div>
    <h2>
      {{ 'SignUp' | locale }}
    </h2>
    <LoginWithSocial />
    <el-form
      :model="form"
      :rules="signUpRules"
      ref="form"
      @submit.native="submitForm('form')"
      :validate-on-rule-change="false"
    >
      <el-form-item prop="displayName">
        <el-input :placeholder="'Input_DisplayName' | locale" v-model="form.displayName" />
      </el-form-item>
      <el-form-item prop="email">
        <el-input placeholder="Email" v-model="form.email" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input type="password" autocomplete="off" :placeholder="'Input_Pass' | locale" v-model="form.password" />
      </el-form-item>
      <el-button :loading="loading" type="primary" class="auth-btn" @click="submitForm('form')">
        {{ 'SignUp' | locale }}
      </el-button>
      <p>
        {{ 'HaveAccount' | locale }} <router-link to="/login">{{ 'LoginTitle' | locale }}</router-link>
      </p>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import LoginWithSocial from './components/LoginWithSocial';
import locale from '@/filters/localize.filter';
export default {
  name: 'Login',
  data: () => ({
    form: {
      displayName: '',
      email: '',
      password: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['error', 'loading']),
    ...mapGetters(['locale']),
    signUpRules() {
      return {
        displayName: { required: true, message: locale('Input_DisplayNameRequired'), trigger: 'blur' },
        email: [
          { required: true, message: locale('Input_EmailRequired'), trigger: 'blur' },
          { type: 'email', message: locale('Input_EmailCorrect'), trigger: ['blur', 'change'] }
        ],
        password: [
          { required: true, message: locale('Input_PassRequired'), trigger: 'blur' },
          { min: 6, message: locale('Input_PassCorrect'), trigger: ['blur', 'change'] }
        ]
      };
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            const data = {
              displayName: this.form.displayName,
              email: this.form.email,
              password: this.form.password,
              locale: this.locale
            };
            await this.$store.dispatch('auth/signUp', data);
          } catch (error) {
            this.$notify.error({
              title: locale('ErrorTitle'),
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: locale('WarningTitle'),
            message: locale('WarningDescr'),
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  },
  components: {
    LoginWithSocial
  }
};
</script>
